.md-header {
    background-color: #606A71;
}
.md-footer-meta {
    background: rgb(96, 106, 113);
}

.md-footer-nav {
    background-color: rgba(96, 106, 113, 0.65);
}

.md-nav__item--active>.md-nav__link, .md-nav__link:active {
    color: #F7931D;
}

.md-typeset a {
    color: #F7931D;
}

.md-nav__link:focus, .md-nav__link:hover {
    color: #F7931D;
}


.md-nav--secondary {
    border-left: .4rem solid #F7931D;
}
